$big-circle-size: 450px;
$small-circle-size: 90px;
$big-circle-right-size: 230px;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big-circle {
    position: relative;
    width: $big-circle-size;
    height: $big-circle-size;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px;
}

.small-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.small-circle, .small-circle2, .small-circle3 {
    width: $small-circle-size;
    height: $small-circle-size;
    border-radius: 50%;
    background-color: #3498db;
    margin: 0 5px;
    display: flex;
    align-items: center;        
    justify-content: center;
    color: #fff;
}

.small-circle2, .small-circle3 {
    position: absolute;
    top: 70%;
    left: 20%;
}

.small-circle2 {
    top: 70%;
    left: 20%;
}

.small-circle3 {
    top: 10%;
    left: 20%;
}

.big-circle-right {
    width: $big-circle-right-size;
    height: $big-circle-right-size;
    border-radius: 50%;
    background-color: #2ecc71;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-box {
        padding: 3px;
        border: 1px solid #fff;
        color: #fff;
        margin: 5px 0;
        border-radius: 5px;
    }
}